@{
    ViewData["Title"] = "Home Page";
    int edad = 10;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>@edad</h2>


</div>
